html {
  font-size: 5vmin;
  background: url(https://images.unsplash.com/photo-1524230659092-07f99a75c013?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80) bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}
body,html {
	font-family: 'Lobster', cursive;
}
.keys {
	display: flex;
	height: 100vh;
	width: 100vw;
  align-items: center;
  justify-content: center;
}
.key {
	border: 1vmin solid black;
	border-radius: 2vmin;
	margin: .5vmin;
	font-size: 3vmin;
	padding: 0 .5em 0 .5em;
	transition: all 0.07s;
	width: 5vw;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 2vmin black;
}
.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 2vmin #ffc600; 
}
kdb {
	display: block;
	font-size: 5vmin;
}
.sound {
	color: #ffc600;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 0.5em; 
}