body {
  background: #25A9FC; /*Twitter-ish blue*/
}
.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
}
.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}
.head-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}
.left-ear {
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.right-ear {
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.inner-ear {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  background: #819CAF;
}
.left-eye {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  z-index: 3;
  top: 25%;
  left: 21%;
  border-radius: 50%;
}
.right-eye {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  z-index: 3;
  top: 25%;
  right: 21%;
  border-radius: 50%;
}
.pupil {
  background: #27354A;
  position: absolute;
  width: 28%;
  height: 30%;
  border-radius: 50%;
  top: 35%;
  left: 36%;
}
.nose {
  position: absolute;
  z-index: 4;
  width: 25%;
  height: 42.5%;
  background: #BE845F;
  top: 45%;
  left: 37%;
  border-radius: 50px;
}
.left-hair {
  background: #A6BECF;
  position: absolute;
  width: 20%;
  height: 20%;
  top: -8%;
  left: 30%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.right-hair {
  background: #A6BECF;
  position: absolute;
  width: 20%;
  height: 20%;
  top: -4%;
  left: 48%;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}